.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: #ffe3cb;
    z-index: 20;
    left: 14px;
    margin-top: 6px;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    width: 160px;
    border: 1px solid #f39e68;
}

.dropdown--active .dropdown__content {
    display: block;
}

.dropdown__trigger {
    width: 100%;
}
.dropdown__trigger .tag {
    width: 80px;
}

.dropdown-menuitem {
    padding: 6px 2px 8px 2px;
    margin: 4px 0;
    border-radius: 4px;
    text-align: left;
    border-bottom: 2px dotted #b5b5b5;
    font-size: 14px;
    color: #29323c;
    cursor: pointer;
}

.dropdown-menuitem:hover{
    background-color: #ffc081;
}

.dropdown-menuitem.selected{
    background-color: #f8ac60;
}
